@import '../../styles/variables.scss';

.dropdown-wrapper {
  position: relative;
  z-index: 20;
  @media screen and (max-width: $tablet-width) {
    position: static;
  }

  &:hover {
    cursor: url('../../assets/img/cursor-hover.svg'), auto;
  }

  .button-menu {
    display: inline-block;
    padding: 5px;
    font-family: $open-sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    outline: none;

    @media screen and (max-width: $tablet-width) {
      color: $white;
    }

    @media screen and (max-width: $mobile-width) {
      font-size: 0;
    }

    .avatar {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 10px;
      vertical-align: middle;
      cursor: pointer;
      background: url('../../assets/img/user-avatar.svg') no-repeat;

      @media screen and (max-width: $tablet-width) {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        background: url('../../assets/img/user-avatar-white-mobile.svg') no-repeat;
      }
    }


    .up-triangle {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 5px;
      border-color: $black transparent transparent;
      border-style: solid;
      border-width: 7px 5px 0;

      @media screen and (max-width: $tablet-width) {
        border-color: $white transparent transparent;
      }

      @media screen and (max-width: $mobile-width) {
        display: none;
      }
    }


    .down-triangle {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 5px;
      border-color: transparent transparent $black;
      border-style: solid;
      border-width: 0 5px 7px;

      @media screen and (max-width: $tablet-width) {
        border-color: $white transparent;
      }

      @media screen and (max-width: $mobile-width) {
        display: none;
      }
    }
  }

  .dropdown-content {
    position: absolute;
    right: 0;
    z-index: 20;
    max-width: 180px;
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
    background-color: $white;
    box-shadow: 0 8px 16px 0 $black-50;

    @media screen and (max-width: $tablet-width) {
      right: 25px;
    }

    @media screen and (max-width: $mobile-width) {
      right: 40px;
    }

    .dropdown-triangle {
      position: absolute;
      top: -5px;
      right: 5px;
      width: 0;
      height: 0;
      border-color: transparent transparent $white;
      border-style: solid;
      border-width: 0 5px 7px;
    }

    .user-name {
      padding: 10px 25px 0;
      font-family: $open-sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }

    .email {
      padding: 0 25px 10px;
      font-family: $open-sans;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 19px;
      color: $boulder;
    }

    .link-wrapper {
      a {
        display: block;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 19px;
        color: $black;
        text-decoration: none;

        &:hover {
          width: 100%;
          color: $alizarin-crimson;
          cursor: url('../../assets/img/cursor-hover.svg'), auto;
          background-color: $alizarin-crimson-11;
        }
      }

      button {
        width: 100%;
        padding: 10px 25px;

        font-size: 14px;
        line-height: 19px;
        text-align: left;
        text-decoration: none;
        background-color: $white;
        border: 0;

        &:hover {
          width: 100%;
          color: $alizarin-crimson;
          cursor: url('../../assets/img/cursor-hover.svg'), auto;
          background-color: $alizarin-crimson-11;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  hr {
    padding: 0;
    margin: 0;
   }

  .button-view {
    display: inline-block;
    width: 110px;
    height: 30px;
    padding-bottom: 15px;
    margin: 10px 25px;
    font-family: $open-sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: $white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $alizarin-crimson;
    // sass-lint:disable-block no-vendor-prefixes
    -webkit-appearance: none;
  }
}
