@import '../../../styles/variables';

.register-container {
  .create-account-wrapper {
    h2 {
      @media screen and (max-width: $mobile-width) {
        text-align: left;
      }
    }

    label {
      width: 50%;
      font-family: $roboto;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 11px;
      letter-spacing: 1px;
      color: $river-bed;
      text-transform: uppercase;

      @media screen and (max-width: $mobile-width) {
        width: 100%;
        margin-top: 20px;
        color: $white;
      }
    }

    .fb-icon {
      width: 35px;
      height: 35px;
      margin: 0 6px 10px;
      font-size: 0;
      cursor: pointer;
      background: url('../../../assets/img/facebook-icon.svg') no-repeat;

      @media screen and (max-width: $mobile-width) {
        background: url('../../../assets/img/facebook-icon-mobile.svg') no-repeat;
      }

      &:hover {
        cursor: url('../../../assets/img/cursor-hover.svg'), auto;
        background: url('../../../assets/img/facebook-icon-hover.svg') no-repeat;
      }

      &:focus {
        box-shadow: none;
      }
    }

    .gplus-icon {
      width: 35px;
      height: 35px;
      margin: 0 6px 10px;
      font-size: 0;
      cursor: pointer;
      background: url('../../../assets/img/gplus-icon.svg') no-repeat;

      @media screen and (max-width: $mobile-width) {
        background: url('../../../assets/img/gplus-icon-mobile.svg') no-repeat;
      }

      &:hover {
        cursor: url('../../../assets/img/cursor-hover.svg'), auto;
        background: url('../../../assets/img/gplus-icon-hover.svg') no-repeat;
      }

      &:focus {
        box-shadow: none;
      }
    }

    p {
      font-family: $open-sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      color: $river-bed;

      @media screen and (max-width: $mobile-width) {
        margin-top: 20px;
        color: $white;
      }
    }

    .register-error {
      display: block;
      margin-bottom: 5px;
      font-size: 12px;
      font-weight: 400;
      color: $alizarin-crimson;
    }

    .user-info {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 70px;

      @media screen and (max-width: $mobile-width) {
        flex-direction: column;
        height: 180px;
      }

      .first-name {
        width: 100%;
        margin-right: 10%;

        @media screen and (max-width: $mobile-width) {
          margin-right: 0;
        }
      }

      .last-name {
        width: 100%;
        @media screen and (max-width: $mobile-width) {
          margin-right: 0;
        }
      }

      input {
        width: 180px;
        height: 40px;
        padding-left: 15px;
        margin-bottom: 10px;
        border: 1px solid $mischka;
        outline: 0;
        box-sizing: border-box;

        @media screen and (max-width: $mobile-width) {
          width: 100%;
          color: $black;
        }
      }

      .has-error {
        input {
          margin-bottom: 0;
          border: 1px solid $alizarin-crimson;
          outline: 0;
          box-sizing: border-box;
        }

        .help-block {
          display: block;
          margin-bottom: 5px;
          font-size: 12px;
          font-weight: 400;
          color: $alizarin-crimson;
        }
      }
    }

    .mobile-link {
      display: none;

      @media screen and (max-width: $mobile-width) {
        display: inline-block;
        margin-top: 10px;
        color: $white;
      }
    }

    .email-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .has-error {
        input {
          margin-bottom: 0;
          border: 1px solid $alizarin-crimson;
          outline: 0;
          box-sizing: border-box;
        }

        .help-block {
          display: block;
          margin-bottom: 5px;
          font-size: 12px;
          font-weight: 400;
          color: $alizarin-crimson;
        }
      }
    }

    .sign-up {
      font-family: $roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: bold;
      line-height: 14px;
      letter-spacing: 1px;
      color: $white;
      text-transform: uppercase;
    }
  }
}
