.newsofthedayWrapper {
  position: relative;
  width: 60%;
  margin: 0 auto;

  @media screen and (max-width: $mobile-width) {
    width: 100vw;
  }

  .newsDivider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px auto;
    border-bottom: 1px solid $placeholder-grey;

    p {
      position: absolute;
      padding: 10px 30px;
      font-family: Open Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 19px;
      white-space: nowrap;
      background-color: $white;
      border: 1px solid;
      border-color: $placeholder-grey;
      border-radius: 20px;
     }
  }

  .newsBlock {
    position: relative;
    width: 100%;
    max-height: 80vh;
    margin: 30px auto;


    @media screen and (max-width: $mobile-width) {
      width: 90%;
      max-width: $mobile-width;
      margin: 30px auto;
    }

    img {
      width: 100%;
    }

    .photoOftheDayTriangle {
      position: absolute;
      top: -30px;
      left: -20px;
      width: 0;
      height: 0;
      border-color: transparent transparent transparent $alizarin-crimson;
      border-style: solid;
      border-width: 60px 0 60px 170px;

      @media screen and (max-width: $mobile-width) {
        display: none;
      }

      p {
        position: absolute;
        top: -30px;
        right: 100px;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 22px;
        color: $white;
        text-transform: uppercase;

        span {
          font-weight: normal;
        }
      }
    }

    .textOfNews {
      position: absolute;
      bottom: 20px;
      width: 100%;
      padding: 10px;
      color: $white;
      word-wrap: break-word;

      @media screen and (max-width: $mobile-width) {
        width: 100%;
        max-height: 50%;
        padding: 10px;
      }

      .tittle {
        font-family: Open Sans;
        font-size: 22px;
        font-style: bold;
        line-height: 30px;
      }

      .newsText {
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 19px;
      }

      .photoCourtesy {
        font-family: Open Sans;
        font-size: 14px;
        font-style: italic;
        font-weight: normal;
        line-height: 19px;
      }

      .see-more {
        font-size: 22px;
        font-weight: 800;
        color: $white;
        text-decoration: none;

      }
    }

  }
}
