@import '../../styles/variables.scss';

.userprofile-wrapper {
  padding-top: 83px;

  .buttons {
    display: flex;
    justify-content: center;
    padding: 80px 25vw;

    @media screen and (max-width: $tablet-width) {
      padding: 20px 25px;
    }

    .button {
      width: 360px;
      height: 40px;
      font-family: $open-sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      color: $black;
      text-align: center;
      text-decoration: none;
      border: 1px solid $gallery;
    }

    .active {
      color: $alizarin-crimson;
      border: 0;
      outline: 1px;
      box-shadow: -2px 2px 24px 1px $news-hover-11;
    }
  }
}
