.container-fluid {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 1440px;
  padding: 0;
  background: $white;

  .create-account-form,
  .log-in-form,
  .forgot-password-form {
    // sass-lint:disable-block nesting-depth
    .btn-primary {

      &:active:focus {
        box-shadow: none;
      }

      &:hover,
      &:active,
      &:focus,
      &:focus-within {
        background-color: $alizarin-crimson;
        border-color: $alizarin-crimson;
        box-shadow: none;
        outline: none;
      }
    }
  }
}

.bg-img {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 640px;
  overflow: hidden;

  @media screen and (max-width: $mobile-width) {
    width: 100%;
    max-width: $mobile-width;
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 640px;

    @media screen and (max-width: $mobile-width) {
      display: none;
    }
  }

  .logo-in-sign-up {
    position: absolute;
    width: 253px;
    height: 83px;
    text-align: center;
    background: $alizarin-crimson;

    @media screen and (max-width: $mobile-width) {
      z-index: 2;
      width: 100%;
      max-width: $mobile-width;
    }

    h1 {
      margin: 0;
      font-family: Open Sans, serif;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 83px;
      color: $rose-white;
    }
  }
}

.create-account-form,
.log-in-form,
.forgot-password-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 800px;

  input {
    padding: 0 15px 0 15px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  @media screen and (max-width: $mobile-width) {
    position: absolute;
    z-index: 1;
    background: linear-gradient($dimming, $dimming), url('../../assets/img/register-login-bg.jpg') no-repeat center;
    background-size: cover;
  }
}

.get-started {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 83px;
  max-width: 375px;
  padding: 30px 0;
  margin: 0 20px 0 auto;
  text-align: center;

  @media screen and (max-width: $mobile-width) {
    display: none;
  }

  h3 {
    margin: 0;
    font-family: Open Sans, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    color: $shuttle-gray;

    @media screen and (max-width: $mobile-width) {
      color: $white;
    }
  }

  .btn  {
    display: inline-block;
    width: 130px;
    height: 32px;
    font-family: Open Sans, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: $alizarin-crimson;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    background-color: $white;
    border: 1px solid $alizarin-crimson;
    border-radius: 0;
    box-sizing: border-box;
    transition: 1s;

    &:hover,
    &:active {
      color: $white;
      background: $alizarin-crimson;
    }
  }
}

.create-account-wrapper,
.log-in-wrapper,
.forgot-password-wrapper {
  width: 100%;
  max-width: 400px;
  margin: 200px 0 0;

  @media screen and (max-width: $mobile-width) {
    max-width: 80%;
    margin: 200px 0 0;
  }

  ::placeholder {
    font-family: Open Sans, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: $shuttle-gray;
  }

  h2 {
    font-family: Open Sans, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    color: $black;

    @media screen and (max-width: $mobile-width) {
      margin-top: 20px;
      font-size: 24px;
      line-height: 24px;
      color: $white;
      text-align: center;
    }
  }
}

.btn-primary ,
.update-profile {
  display: inline-block;
  width: 400px;
  height: 42px;
  color: $white;
  text-transform: capitalize;
  cursor: pointer;
  background-color: $alizarin-crimson;
  border: none;
  outline: 0;
  box-sizing: border-box;

  @media screen and (max-width: $mobile-width) {
    width: 100%;
    margin-top: 30px;
  }

  &:hover {
    background-color: $alizarin-crimson-hover !important;
  }
}

.email-wrapper,
.update-input-wrapper {
  label {
    width: 50%;
    font-family: Roboto, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 1px;
    color: $river-bed;
    text-transform: uppercase;

    @media screen and (max-width: $mobile-width) {
      margin-top: 20px;
      color: $white;
    }
  }

  input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid $mischka;
    outline: 0;
    box-sizing: border-box;
  }

  a {
    width: 50%;
    font-family: Open Sans, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 11px;
    color: $havelock;
    text-align: right;

    @media screen and (max-width: $mobile-width) {
      margin-top: 20px;
      color: $white;
    }
  }
}
