$white: #ffffff;
$black: #000000;
$alizarin-crimson: #d72130;
$rose-white: #fffbfb;
$shuttle-gray: #596377;
$river-bed: #434c5d;
$mischka: #d4d9e2;
$monza: #c80515;
$ghost: #c6ccd7;
$havelock: #4a90e2;
$dimming: rgba(0, 0, 0, .7);
$mine-shaft-11: rgba(215, 33, 48, .11);
$black-50: rgba(0, 0, 0, .5);
$sunset-orange: #ff4f44;
$boulder: #7f7b7b;
$alizarin-crimson-hover: #e02232;
$gallery: #ededed;
$placeholder-grey: #b2b2b2;


$mobile-width: 768px;
