$white: #ffffff;
$black: #000000;
$crimson: #d72130;
$rose-white: #fffbfb;
$shuttle-gray: #596377;
$river-bed: #434c5d;
$mischka: #d4d9e2;
$monza: #c80515;
$dimming: rgba(0, 0, 0, .7);
$alizarin-crimson: #d72130;

$mobile-width: 768px;
