@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  src: url("../fonts/OpenSans-RegularItalic.ttf")format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  src: url("../fonts/Roboto-RegularItalic.ttf")format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}