@import '../../styles/variables';

.breakdown-wrapper {
  width: 100%;
  height: auto;
  max-width: 835px;

  @media screen and (max-width: $tablet-width) {
    margin: 0 20px;
  }

  .news-divider {
    margin: 60px auto;
  }

  .news-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .news-boxes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      margin-bottom: 50px;

      @media screen and (max-width: $mobile-width) {
        align-items: center;
        flex-direction: column;
      }

      // sass-lint:disable nesting-depth
      .single-news {
        @media screen and (max-width: $mobile-width) {
          margin-bottom: 50px;
        }
      }

      .news-box {
        @media screen and (max-width: $mobile-width) {
          width: 100%;
          height: auto;
          max-width: $mobile-width;
        }
      }
    }
  }
}
