@import '../../styles/variables';

.breakdown-wrapper {
  width: 100%;
  height: 820px;
  max-width: 835px;

  .news-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .single-news-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 640px;
    }

    .news-boxes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 640px;
    }
  }
}
