.breakdown-wrapper {
  width: 100%;
  max-width: 835px;
  height: 820px;

  .news-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .single-news-block {
      height: 640px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .news-boxes {
      height: 640px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
