@import '../../../styles/variables.scss';

.footer-container {
  display: flex;
  width: 100%;
  padding: 50px 20px 0 250px;
  font-family: $open-sans;
  border-top: 1px solid $alto;

  @media screen and (max-width: $tablet-width) {
    padding: 50px 20px 0 40px;
  }

  @media screen and (max-width: $mobile-width) {
    flex-direction: column;
  }

  li {
    font-size: 12px;
    line-height: 2.5;
    list-style-type: none;
  }

  a {
    color: $boulder;

    &:hover {
      color: $alizarin-crimson;
      text-decoration: none;
    }
  }

  ul {
    padding: 0;
  }

  .footer-item {
    margin-right: 60px;

    @media screen and (max-width: $mobile-width) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-right: 0;
    }

    h4 {
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      color: $boulder;
    }
  }
}

.subscribe {
  display: flex;
  height: 30px;
  margin-bottom: 20px;

  input {
    width: 190px;
    height: 100%;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    border: 1px solid $ghost;
    border-right: 0;
    outline: 0;

    &::placeholder {
      color: $alto;
    }
  }

  button {
    width: 95px;
    height: 100%;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    color: $white;
    background-color: $alizarin-crimson;
    border: 0;
    outline: 0;

    &:hover {
      color: $alizarin-crimson;
      background-color: $white;
      border: 1px solid $alizarin-crimson;
    }
  }
}
