@import '../../styles/variables';

.check-email-container {

  .check-email-msg {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;

    @media screen and (max-width: $mobile-width) {
      padding: 0 10px;
      margin-top: 50%;
    }
  }

  .mail-svg {
    @media screen and (max-width: $mobile-width) {
      display: none;
    }
  }

  .mobile-mail-svg {
    display: none;
    @media screen and (max-width: $mobile-width) {
      all: unset;
    }
  }

  h2 {
    text-align: center;
  }

  p {
    max-width: 400px;
    font-size: 14px;
    text-align: center;

    @media screen and (max-width: $mobile-width) {
      color: $white;
    }
  }

  .mobile-link {
    display: none;

    @media screen and (max-width: $mobile-width) {
      display: block;
      margin-top: 10px;
      font-size: 12px;
      color: $white;
    }
  }
}
