@import '../../styles/variables.scss';

.logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 83px;
  margin: 0;
  font-family: $open-sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: $rose-white;
  text-align: center;
  text-decoration: none;
  background: $alizarin-crimson;

  @media screen and (max-width: $tablet-width) {
    position: static;
    z-index: 10;
    align-items: flex-end;
    width: 100%;
    max-width: $mobile-width;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
  }

  &:focus {
    text-decoration: none;
    outline: 0;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }
}
