@import '../../styles/variables.scss';

.logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 83px;
  text-align: center;
  background: $alizarin-crimson;

  @media screen and (max-width: $mobile-width) {
    z-index: 10;
    width: 100%;
    max-width: $mobile-width;
  }

  &:focus {
    outline: 0;
  }

  a {
    margin: 0;
    font-family: $open-sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: $rose-white;
    text-decoration: none;

    &:focus {
      outline: 0;
    }
  }
}
