
li {
  font-size: 12px;
  line-height: 2.5;
  list-style-type: none;
}

a {
  color: $boulder;

  &:hover {
    color: $alizarin-crimson;
    text-decoration: none;
  }
}

ul {
  padding: 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin-top: 40px;
  font-family: Open Sans, serif;
  border-top: 1px solid $placeholder-grey;

  .footer-item {
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }

    h4 {
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
    }

    & p {
      font-size: 14px;
      line-height: 22px;
      color: $boulder;
    }

    @media screen and (max-width: $mobile-width) {
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
  }
}

.subscribe {
  height: 30px;
  margin-bottom: 20px;

  & input {
    width: 190px;
    height: 100%;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    border: 1px solid $ghost;
    border-right: 0;

    & ::placeholder {
      color: $placeholder-grey;
    }
  }

  & button {
    width: 95px;
    height: 100%;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    color: $white;
    background-color: $alizarin-crimson;
    border: 0;

    &:hover {
      color: $alizarin-crimson;
      background-color: $white;
      border: 1px solid $alizarin-crimson;
    }
  }
}
