@import '../../styles/variables';

.dealbook-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px 0 250px;

  @media screen and (max-width: $tablet-width) {
    width: 100%;
    padding: 0;
  }

  .news-block-section {
    max-width: 866px;
    padding: 13px 0;
    border-bottom: 1px solid $alto;

    &:last-of-type {
      border: 0;
    }

    @media screen and (max-width: $tablet-width) {
      max-width: 100%;
      margin: 0 20px;
    }
  }

  .news-block {
    width: 100%;
    height: auto;
    max-width: 866px;
    border: 0;

    @media screen and (max-width: $tablet-width) {
      max-width: 100%;
    }

    .hover-arrow {
      width: 16px;
      height: 13px;
      padding: 0;
      margin: 0 30px 12px 0;

      &:focus {
        outline: 0;
      }
    }

    img {
      width: 100%;
      height: auto;
      max-width: 284px;
      padding: 12px;
      object-fit: cover;

      @media screen and (max-width: $mobile-width) {
        height: auto;
        max-width: 180px;
        padding: 0;
      }
    }
  }

  .dealbook-banner {
    position:  absolute;
    top: 400px;
    left: -50px;
    z-index: 2;
    font-family: $roboto ;
    font-size: 100px;
    font-style: normal;
    font-weight: bold;
    line-height: 100px;
    letter-spacing: 1.2px;
    color: $grey-30;
    transform: rotate(-90deg);

    @media screen and (max-width: $tablet-width) {
      display: none;
    }
  }

  .news-banner {
    position:  absolute;
    top: 500px;
    right: 70px;
    z-index: -1;
    font-family: $roboto ;
    font-size: 120px;
    font-style: normal;
    font-weight: bold;
    line-height: 192px;
    letter-spacing: 1.2px;
    color: $grey-30;
    transform: rotate(90deg);

    @media screen and (max-width: $tablet-width) {
      display: none;
    }
  }

  .main-article-container {
    position: relative;
    top: 100px;
    width: 100%;
    height: auto;
    max-width: 950px;
    padding: 5vh 0 15vh;

    @media screen and(max-width: $tablet-width) {
      position: static;
      top: 0;
      left: 0;
      flex-direction: column;
      width: 100%;
      height: auto;
      max-width: 100%;
      padding: 100px 0 0;
      margin-bottom: 0;
    }

    .league-title {
      padding-bottom: 10px;
      font-family: $open-sans;
      font-size: 12px;
      font-style: normal;
      font-weight: bold;
      line-height: 16px;
      color: $placeholder-grey;
      text-transform: uppercase;

      @media screen and(max-width: $tablet-width) {
        padding-left: 15px;
    }

      span {
        color: $alizarin-crimson;
      }
    }

    img {
      width: 90%;
      object-fit: cover;
      @media screen and(max-width: $tablet-width) {
        width: 100%;
      }
    }

    .news-info {
      position: absolute;
      top: 35%;
      right: -3vw;
      width: 20vw;
      margin-right: 20px;
      background-color: $wild-sand;
      transform: translateY(-30%);
      box-shadow: -21px 21px 54px -11px $black-70;

      @media screen and (max-width: $tablet-width) {
        position: static;
        width: 100%;
        padding: 10px;
        box-shadow: none;
      }

     }

    .publish-time {
      margin: 10% 10% 2%;
      font-size: 14px;
      color: $boulder;

      @media screen and (max-width: $laptop-width) {
        font-size: 12px;
      }

      @media screen and(max-width: $tablet-width) {
        margin: 0 0 2% ;
        font-size: 12px;
      }
     }

    .title {
      // sass-lint:disable-block no-vendor-prefixes
      display: -webkit-box;
      margin: 0 10% 2%;
      overflow: hidden;
      font-size: 16px;
      font-weight: 600;
      color: $flush-mahogany;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      @media screen and (max-width: $laptop-width) {
        font-size: 14px;
      }

      @media screen and(max-width: $tablet-width) {
        margin: 0 0 1%;
      }
    }

    .news-text {
      // sass-lint:disable-block no-vendor-prefixes
      display: -webkit-box;
      margin: 0 5% 5% 10%;
      overflow: hidden;
      font-size: 20px;
      font-weight: bold;
      color: $ebony-clay;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      @media screen and (max-width: $laptop-width) {
        font-size: 18px;
      }

      @media screen and(max-width: $tablet-width) {
        margin: 0 0 5% ;
        font-size: 18px;
      }
    }

    .see-more {
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 37.5%;
      padding: 5px 10px;
      font-family: $open-sans;
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 30px;
      color: $white;
      text-align: center;
      text-decoration: none;
      cursor: url('../../assets/img/cursor-hover.svg'), auto;
      background: $monza;
      border: 0;

      @media screen and(max-width: $tablet-width) {
        min-width: 175px;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
