@import '../../styles/variables.scss';

.copyright-container {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  max-width: 1440px;
  color: $rose-white;
  background-color: $alizarin-crimson;

  &:focus {
    outline: 0;
  }

  .logo {
    position: static;
    height: 80px;
  }

  .copyright-items {
    margin: 21px 56px 11px 0;
    text-align: right;

    @media screen and (max-width: $tablet-width) {
      margin: 0 56px 0 0;
    }

    h4 {
      margin-bottom: 0;
      font-family: $open-sans-serif;
      font-size: 12px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}
