@import '../../../styles/variables.scss';

.change-password-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .change-password-form {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin: 10px 0 0;

    @media screen and (max-width: $mobile-width) {
      width: 90vw;
      min-width: 0;
      margin: 0;
    }

    input {
      display: block;
      width: 100%;
      padding: 0 10px;
      text-transform: none;

      @media screen and (max-width: $mobile-width) {
        width: 90vw;
        min-width: 0;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }

    .has-error {
      input {
        margin-bottom: 0;
        border: 1px solid $alizarin-crimson;
        outline: 0;
        box-sizing: border-box;

      }

      .help-block {
        display: block;
        font-size: 12px;
        font-weight: 400;
        color: $alizarin-crimson;
      }
     }

    label {
      margin-top: 20px;
      color: $black;
    }

    .password-show {
      position: absolute;
      right: 20px;
      bottom: 25px;
      background-size: 20px 20px;

      img {
        width: 20px;
        height: 20px;
        padding-bottom: 5px;
      }
    }
  }

  .change-password-btn {
    margin: 20px 0;
    font-family: $open-sans;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    outline: 0;

    &:active {
      color: $white;
      background: $alizarin-crimson;
    }

    @media screen and (max-width: $mobile-width) {
      width: 90vw;
    }
   }
  }
