@import '../../styles/variables.scss';

.services {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 220px;

  span {
    font-size: 14px;
    line-height: 19px;
    color: $silver-chalice;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 120px;
  }

  .icon {
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -99999px;
    background-position: center;
    background-size: cover;
  }

  .facebook-icon {
    background: url('../../assets/img/facebook-normal.svg') no-repeat;
  }

  .twitter-icon {
    background: url('../../assets/img/twitter-normal.svg') no-repeat;
  }

  .linkedin-icon {
    background: url('../../assets/img/linkedin.svg') no-repeat;
  }
}
