@import '../styles/variables.scss';

.services {
  display: flex;
  justify-content: space-between;
  width: 220px;

  & span {
    font-size: 14px;
    line-height: 19px;
    color: $placeholder-grey;
  }

  & div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
  }
}

.facebook-icon {
  display: block;
  width: 20px;
  height: 20px;
  background: url('../../assets/img/facebook-normal.svg') no-repeat;
  background-position: center;
  background-size: cover;
}

.twitter-icon {
  display: block;
  width: 20px;
  height: 20px;
  background: url('../../assets/img/twitter-normal.svg') no-repeat;
  background-position: center;
  background-size: cover;
}

.linkedin-icon {
  display: block;
  width: 18px;
  height: 18px;
  background: url('../../assets/img/linkedin.svg') no-repeat;
  background-position: center;
  background-size: cover;
}
