@import '../../styles/variables.scss';

.single-news-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 815px;
  padding: 100px 0;
  margin-left: 250px;

  @media screen and (max-width: $mobile-width) {
    margin: 0;
  }

  @media screen and (max-width: $tablet-width) {
    height: auto;
    padding: 100px 15px;
    margin: 0 auto;
  }

  .news-wrapper {
    width: 100%;
    max-width: 815px;
  }

  .top-info {
    display: flex;
    justify-content: flex-start;
    width: 460px;
    margin: 0 0 15px;

    h4 {
      display: flex;
      margin: 0;
      font-family: $open-sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
      color: $alizarin-crimson;

      .short-text {
        display: inline-block;
        max-width: 460px;
        margin: 0;
        overflow: hidden;
        font-family: $open-sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        color: $alizarin-crimson;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .team-name {
      display: inline-block;
      font-family: $open-sans;
      font-size: 12px;
      font-style: normal;
      font-weight: bold;
      line-height: 16px;
      color: $silver-chalice;
      text-transform: uppercase;

      @media screen and (max-width: $mobile-width) {
        font-size: 18px;
        line-height: 19px;
        color: $black;
      }
    }

    .team-paragraph {
      display: flex;
      margin: 0;

      @media screen and (max-width: $mobile-width) {
        display: none;
      }
    }
  }

  .article-brochure {
    position: relative;
    width: 100%;
    margin-bottom: 50px;

    @media screen and (max-width: $mobile-width) {
      margin-bottom: 5px;
    }

    @media screen and (max-width: $tablet-width) {
      margin-bottom: 20px;
    }

    .image-container {
      width: 100%;
      height: auto;

      @media screen and (max-width: $tablet-width) {
        margin-bottom: 15px;
      }

      @media screen and (max-width: $mobile-width) {
        display: flex;
        justify-content: center;
        width: 100%;
        min-width: 375px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media screen and (max-width: $tablet-width) {
          width: 100%;
          height: auto;
        }
      }
    }

    .card-container {
      position: absolute;
      bottom: 30%;
      left: 80%;
      width: 50%;
      max-height: 270px;
      padding: 40px 55px 70px 30px;
      background-color: $wild-sand;
      box-shadow: -2px 50px 65px -8px $dove-gray-20;

      @media screen and (max-width: $tablet-width) {
        position: static;
        width: 100%;
        padding: 0;
        background: none;
        box-shadow: none;
      }

      @media screen and (max-width: $mobile-width) {
        position: static;
        width: 100%;
        padding: 0;
        background: none;
        box-shadow: none;
      }

      h4 {
        margin-bottom: 15px;
        font-family: $open-sans;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        line-height: 19px;
        color: $boulder;
      }

      h3 {
        margin-bottom: 15px;
        font-family: $open-sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        color: $flush-mahogany;

        @media screen and (max-width: $mobile-width) {
          margin-bottom: 5px;
        }
      }

      h2 {
        // sass-lint:disable-block no-vendor-prefixes
        display: -webkit-box;
        margin-bottom: 0;
        overflow: hidden;
        font-family: $open-sans;
        font-size: 22px;
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        color: $ebony-clay;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @media screen and (max-width: $mobile-width) {
          width: 100%;
        }
      }
    }
  }

  .information-about-current-news {
    width: 100%;

    @media screen and (max-width: $mobile-width) {
      padding: 0;
    }

    p {
      font-family: $open-sans;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      line-height: 19px;
      color: $black;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        color: $alizarin-crimson;
      }
    }
  }
}
