.register-container {
  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 1024px;
    padding: 0;
    background: $white;
  }

  .bg-img {
    width: 640px;
    height: 1024px;
    background: url('../../assets/img/signup-bg.jpg');

    .logo-in-sign-up {
      width: 253px;
      height: 83px;
      text-align: center;
      background: $crimson;

      h1 {
        margin: 0;
        font-family: Open Sans, serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 83px;
        color: $rose-white;
      }
    }
  }

  .create-account-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 800px;

    .log-in {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 83px;
      max-width: 375px;
      margin: 0 20px 0 auto;
      text-align: center;

      h3 {
        margin: 29px 0;
        font-family: Open Sans, serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        color: $shuttle-gray;
      }

      .btn {
        display: inline-block;
        width: 130px;
        height: 32px;
        font-family: Open Sans, serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        color: $crimson;
        text-align: center;
        text-transform: capitalize;
        cursor: pointer;
        background-color: $white;
        border: 1px solid $crimson;
        border-radius: 0;
        box-sizing: border-box;

        &:hover,
        &:active {
          color: $white;
          background: $crimson;
        }
      }
    }

    .create-account-elements {
      max-width: 400px;
      width: 100%;
      height: 440px;
      margin: 200px 0 auto;
      ::placeholder {
        font-family: Open Sans, serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        color: $shuttle-gray;
      }

      h2 {
        font-family: Open Sans, serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        color: $black;
      }

      h5 {
        width: 50%;
        font-family: Roboto, serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 11px;
        letter-spacing: 1px;
        color: $river-bed;
        text-transform: uppercase;
      }

      .fb-icon {
        width: 35px;
        height: 35px;
        margin: 0 6px 10px;
        cursor: pointer;
        background: url('../../assets/img/facebook-icon.svg') no-repeat;

        &:hover {
          background: url('../../assets/img/facebook-icon-hover.svg') no-repeat;
        }
      }

      .gplus-icon {
        width: 35px;
        height: 35px;
        margin: 0 6px 10px;
        cursor: pointer;
        background: url('../../assets/img/gplus-icon.svg') no-repeat;

        &:hover {
          background: url('../../assets/img/gplus-icon-hover.svg') no-repeat;
        }
      }

      p {
        font-family: Open Sans, serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        color: $river-bed;
      }

      .first-last-name {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 110%;
        height: 11px;

        h5 {
          margin: 0;
        }
      }

      .user-info {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 60px;

        input {
          width: 180px;
          height: 40px;
          padding-left: 15px;
          border: 1px solid $mischka;
          outline: 0;
          box-sizing: border-box;
        }
      }

      .email-wrapper {
        width: 100%;

        h5 {
          width: 100%;
        }

        input {
          width: 100%;
          height: 40px;
          padding-left: 15px;
          margin-bottom: 15px;
          border: 1px solid $mischka;
          outline: 0;
          box-sizing: border-box;
        }
      }

      .btn-primary {
        display: inline-block;
        width: 400px;
        height: 42px;
        color: $white;
        text-transform: capitalize;
        cursor: pointer;
        background-color: $crimson;
        border: 1px solid $crimson;
        border-radius: 0;
        box-sizing: border-box;

        &:hover {
          background: $crimson;
        }

        &:active {
          background: $monza;
        }
      }

      .sign-up {
        font-family: Roboto, serif;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        line-height: 14px;
        letter-spacing: 1px;
        color: $white;
        text-transform: uppercase;
      }
    }
  }
}
