$white: #ffffff;
$black: #000000;
$alizarin-crimson: #d72130;
$rose-white: #fffbfb;
$shuttle-gray: #596377;
$river-bed: #434c5d;
$mischka: #d4d9e2;
$monza: #c80515;
$ghost: #c6ccd7;
$havelock: #4a90e2;
$sunset-orange: #ff4f44;
$boulder: #7f7b7b;
$alizarin-crimson-hover: #e02232;
$gallery: #ededed;
$placeholder-grey: #b2b2b2;
$wild-sand: #f6f6f6;
$flush-mahogany: #c63638;
$dusty-gray: #979797;
$silver-chalice: #b2b2b2;
$ebony-clay: #2b2f43;
$concrete: #f2f2f2;
$mine-shaft: #2f2f2f;
$flush-mahogany: #c63638;
$alto: #d8d8d8;

$black-70: rgba(0, 0, 0, .7);
$black-50: rgba(0, 0, 0, .5);
$alizarin-crimson-11: rgba(215, 33, 48, .11);
$news-hover-11: rgba(0, 0, 0, .11);
$black-09: rgba(0, 0, 0, .09);
$grey-30: rgba(204, 211, 224, .3);
$black-30: rgba(0, 0, 0, .3);



$mobile-width: 768px;
$tablet-width: 1020px;
$laptop-width: 1300px;
