$alizarin-crimson: #d72130;
$alizarin-crimson-hover: #e02232;
$alto: #d8d8d8;
$black: #000000;
$boulder: #7f7b7b;
$concrete: #f2f2f2;
$dusty-gray: #979797;
$ebony-clay: #2b2f43;
$flush-mahogany: #c63638;
$gallery: #ededed;
$ghost: #c6ccd7;
$havelock: #4a90e2;
$mischka: #d4d9e2;
$mine-shaft: #2f2f2f;
$monza: #c80515;
$placeholder-grey: #b2b2b2;
$river-bed: #434c5d;
$rose-white: #fffbfb;
$silver-chalice: #b2b2b2;
$shuttle-gray: #596377;
$sunset-orange: #ff4f44;
$wild-sand: #f6f6f6;
$white: #ffffff;


$alizarin-crimson-11: rgba(215, 33, 48, .11);
$black-09: rgba(0, 0, 0, .09);
$black-30: rgba(0, 0, 0, .3);
$black-50: rgba(0, 0, 0, .5);
$black-70: rgba(0, 0, 0, .7);
$dove-gray-20: rgba(116, 114, 114, .2);
$ebb-80: rgba(235, 235, 235, .8);
$grey-08: rgba(196, 196, 196, .08);
$grey-30: rgba(204, 211, 224, .3);
$news-hover-11: rgba(0, 0, 0, .11);


$mobile-width: 768px;
$tablet-width: 1020px;
$laptop-width: 1300px;


$roboto: 'Roboto';
$open-sans: 'Open Sans';
